Django>=3.0.7
channels==2.4.0
channels-redis
six
djangorestframework
djangorestframework-jwt
markdown       # Markdown support for the browsable API.
django-filter  # Filtering support
django-cors-headers
psycopg2-binary
daphne==2.3
drf-action-permissions