{% load static %}
{% load render_bundle from webpack_loader %}
<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% render_bundle 'main' 'css' %}
</head>
<body>
    <h1>{{ room.name }}</h1>
    <div id="like_button_container"></div>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<script>
    {% for line in room.messages.all %}
    document.querySelector('#chat-log').value += ("{{ line }}" + '\n');
    {% endfor %}

    var roomName = "{{ room.slug|escapejs }}";

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = e => {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = e => {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = e => {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = e => {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify(
          {
            'message': message,
            'roomName': roomName,
            'user': '{{ request.user.username }}',
          }
        ));

        messageInputDom.value = '';
    };
</script>
{% render_bundle 'main' 'js' %}
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://localhost:8001/browser-sync/browser-sync-client.js?v=2.26.10'><\/script>".replace("HOST", location.hostname));
//]]></script>
</html>
